*{
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}

nav{
    height: 75px;
    outline: 1px solid red;
    padding: 0px 10px;
}
.logo{
    height: 20px;
    width: 20px;
    margin-bottom: 100px;
}